/*@font-face{
	font-family: "MaPolice";
	src: url("./Police/Aaargh.eot") format("eot"),
		url("./Police/Aaargh.woff") format("woff"),
		url("./Police/Aaargh.ttf") format("truetype"),
		url("./Police/Aaargh.svg") format("svg");
}*/
h1{color: white; font-size: 305%; font-family: "MaPolice", Calibri, Serif; text-decoration: underline;}
h2{color: white;font-size: 215%; font-family: "MaPolice", Calibri, Serif; text-decoration: underline;}

body{
	background-color: #42507D;
}

div{
	width: 50%;
}

legend{
	background-color: #aaa;
	color: #000;
	padding: 3px 6px;
	margin: auto;
}

fieldset{
	border-color: white;
	border-radius: 5%;
	width: 35%;
	margin: auto;
}

table{
	border-collapse: collapse;
	margin-left: 25%
}

td, th{
	border: thick solid #42507D;
	background-color: #EE96FB;
	width: 100px;
	text-align: center;
}

.center{
	text-align: center;
}

#middle{
	margin-left: 25%;
}

.exercice{
	margin: auto;
	text-align: center;
}

.long{
	width: 400px;
}

.styled_inline{
	display: inline;
}

.box{
	border: solid;
	background-color: #EA83F9;
	width: 100%;
	min-height: 50px;
}

.progCheckbox{
	display: block;
}

.form{
	border: solid;
	border-color: #BE6BE7;

	background-color: #BE6BE7;
	border-radius: 5%;
	margin: auto;
}

.text, p, li{
	font-family: "MaPolice", Calibri, Serif;
	font-weight: bold;
}
.paragraphe{
	font-size: 105%;
	font-family: "MaPolice", Calibri, Serif;
	font-weight: 600;
}
.exemple{ /*Balise <b>*/
	color: darkgreen;
	border-style: solid;
	border-color: black;
	text-align: center;
}

.underline{
	font-size: 105%;
	font-family: "MaPolice", Calibri, Serif;
	font-weight: 600;
	text-decoration-line: underline;
	text-decoration-color: #ff0000;
}

strong{
	font-style: italic;
	text-decoration-line: underline;
}
canvas{
	border : 2px solid #000000;
}

.styled {
	border: 32;
	border-color: #78f59a;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: #32a852;
	background-image: linear-gradient(to top left,
										rgba(0, 0, 0, .2),
										rgba(0, 0, 0, .2) 30%,
										rgba(0, 0, 0, 0)
										);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
				inset -2px -2px 3px rgba(0, 0, 0, .6);
}

ul{
	font-style: italic;
	text-decoration-line: underline;
}